@model giayit.Models.dsgiohang

@{
    ViewBag.Title = "ThanhToan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="columncenter">
    <div class="header-column">THANH TOÁN</div>  
    @if(Model.Cart.listsp.Count == 0)
    {
         <p style="font-family:'Times New Roman'; font-size: 18px; color: red; text-align:center">Bạn chưa chọn sản phẩm</p>
    }
    else
    {
       <table id="t02" align="center" width="580" style="margin-top: 0px; font-size:14px; margin-bottom: 20px">
                    	<tr align="center" bgcolor="#f6f6f6" style="font-weight:bold; font-size: 16px;">
                        	<th>Sản phẩm</th>                            
                            <th>Tình trạng</th>
                            <th>Đơn giá</th>
                            <th>Số lượng</th>
                            <th>Thành tiền</th>
                            <th>Xóa</th>
                        </tr>
                        @foreach(var line in Model.Cart.listsp)
                        {
                            <tr align="center" >
                        	    <td style="border: 1px solid #666">
                            	    <img src="../@line.hinhanh" width="98" height="98"/>
                                    <p>@line.Quantity x @line.tensp</p>
                                
                                </td>
                                <td style="border: 1px solid #666">
                                    @if(@line.Soluongcon > 0)
                                    {
                            	        <span id="trangthai-con"> Còn</span>                                        
                                    }
                                </td>
                                <td style="border: 1px solid #666">
                            	    @line.giasanpham
                                </td>
                                <td style="border: 1px solid #666">
                            	    @using (Html.BeginForm("capnhatsoluong", "GioHang", new {masanpham=@line.masp, soluongcon=@line.Soluongcon }))
                                    { 
                            	    <input type="text"  name="soluong"  style="width:30px" value="1" />                        
                                    <input type="submit" alt="Cập nhật" class="updatesoluong" value="" style="background-image:url(../Image/refesh.png);width:25px;height:25px" />
                                   }
                                </td>
                                <td style="border: 1px solid #666">
                            	    @(line.giasanpham * line.Quantity)
                                </td>
                                <td style="border: 1px solid #666">
                            	    <a onclick="return xacnhanxoa('@line.masp')" href="/giohang/giohangxoa?masanpham=@line.masp"><img src="../Image/icon-del.png" alt="Xoá"></a>
                                </td>
                            </tr>
                        }
                        
                        <tr align="right">
                        	<td colspan="5" style="font-size:17px; font-weight:bold;border: 1px solid #666">Xóa hết</td>
                            <td style="font-size:17px; font-weight:bold; border: 1px solid #666"><a href="/giohang/xoahet"><img src="../Image/xoa-icon.png" height="13" width="26"/></a></td>
                        </tr>
                        <tr align="right">
                        	<td colspan="4" style="font-size:17px; font-weight:bold;border: 1px solid #666">Tổng tiền</td>
                            <td colspan="2" style="font-size:17px; font-weight:bold; border: 1px solid #666">@Model.Cart.tongtien().ToString("c")</td>
                        </tr>
                    </table>
    
   <div class="formn" >
       
         
        <fieldset style="width:auto">
            <legend style="flex-item-align:center">Thông tin khách hàng</legend>
          @if (Session["Account"] == null)
            {
                <div class="editor-label">
                Bạn chưa đăng nhập,hãy đăng nhập để thanh toán

                    <form name="dangnhap" method="post" action="../account/login" onsubmit="return kiemtradn()">
                         @{
                            string url = HttpContext.Current.Request.Url.AbsoluteUri;
           
                                    ViewBag.url = url;
                        }
            		        <Input name="url" type="hidden" value="@ViewBag.url">
                        <span style="color: black">Tài khoản</span><br />
                        <input id="username" type="text"  placeholder="Nhập tài khoản"  name="username" /><br />
                        
                        <span style="color: black">Mật khẩu</span><br />
                        <input id="password" type="password"  placeholder="Nhập mật khẩu"  name="password" />
                        <input id="btnlogin" type="submit"  value="Đăng nhập"  name="btnlogin" />
                        
                    </form>
                </div> 
            } 
            else
            {
              <form name="fgiohang" method="post" action="thanhtoan" onsubmit="return checkgiohang()" >
                        <div class="editor-label">
                        Tên khách hàng
                    </div>
                    <div class="editor-field">
                       <input type="text" name="tenkh"value="@ViewBag.tenkh"/>
                       <b><font size="-1" color="red"><name></name></font></b>
                    </div>
             <div class="editor-label">
                        Địa chỉ
                    </div>
                    <div class="editor-field">               
                       <textarea name="diachi">@ViewBag.diachi</textarea>
                       <b><font size="-1" color="red"><add></add></font></b>
                    </div>
             <div class="editor-label">
                        Số điện thoại
                    </div>
                    <div class="editor-field">
                       <input type="text" name="sdt"value="@ViewBag.sdt"/>
                       <b><font size="-1" color="red"><phone></phone></font></b>
                    </div>
                    <div class="editor-label">
                        Email
                    </div>
                    <div class="editor-field">
                       <input type="text" name="email"value="@ViewBag.email"/>
                       <b><font size="-1" color="red"><mail></mail></font></b>
                    </div>
     
                    <div class="editor-label">
                        <input type="submit" value="Thanh toán" style="height:40px; width: 120px; background-color:#090; color:#FFF; font-size:17px; font-weight:bold; cursor:pointer" />
                    </div>
               </form>
            }
        </fieldset>
       
   
    
</div>
    }
    </div>

