@model IEnumerable<giayit.ServiceReferenceAccount.user>
@{
    ViewBag.Title = "Admin - Quản lý tài khoản";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}
<div class="columcenter">
    <div class="header-center">Sửa tài khoản </div>
    <div style="width:781px;height:auto" >
<div class="formn">
    <form name="fthem1" action="edit" method="post" onsubmit="return ktuser()" >
  
       @foreach (var item in Model)
       { 
        <fieldset style="width:auto">
            <legend style="flex-item-align:center">Tài khoản</legend>
            <div class="editor-label">
                Tên đăng nhập
            </div>
            <div class="editor-field">
               <input type="text" readonly="true" name="makh" value="@Html.DisplayFor(x => item.makhachhang)"/>
            </div>
            <div class="editor-label">
                Mật khẩu
            </div>
            <div class="editor-field">
              <input type="password" name="password" oninput="return checkpasss1()" value="@Html.DisplayFor(x => item.password)"/>
              <b><font size="-1" color="red"><pass></pass></font></b>
            </div>
            <div class="editor-label">
                Họ tên
            </div>
            <div class="editor-field">
               <input type="text" name="hoten" oninput="return checkname1()" value="@Html.DisplayFor(x => item.tenkhachhang)"/>
                <b><font size="-1" color="red"><name></name></font></b>
            </div>
             <div class="editor-label">
                Số điện thoại
            </div>
            <div class="editor-field">
                <input type="text"  name="sdt" oninput="return checkphone1()" value="@Html.DisplayFor(x => item.sdt)"/>
                <b><font size="-1" color="red"><phone></phone></font></b>
            </div>
             <div class="editor-label">
                Địa chỉ
            </div>
            <div class="editor-field">
                 <input type="text" name="diachi" oninput="return checkadd1()" value="@Html.DisplayFor(x => item.diachi)"/>
                <b><font size="-1" color="red"><add></add></font></b>
            </div>
             <div class="editor-label">
                Email
            </div>
            <div class="editor-field">
                 <input type="text" name="email" oninput="return checkmail1()" value="@Html.DisplayFor(x => item.email)"/>
                <b><font size="-1" color="red"><mail></mail></font></b>
            </div>
            <div class="editor-label">
                Ghi chú người dùng xấu: 
                @if(item.ghichu=="1")
                {
                <select name="ghichu">
            
                <option selected="selected" value="1">Không</option>
                    <option value="2">Có</option>
   	    	        
                    </select>
                }
                @if (item.ghichu == "2")
                {
                      <select name="ghichu">
                    <option value="1">Không</option>
                     <option selected="selected" value="2">Có</option>
                    
   	    	        
                    </select>
                }
            </div>
            <span class="btn">
                    <input type="submit"   value="Sửa" style="margin-top: 10px; width: 257px; cursor:pointer" /><br />
             </span>
        </fieldset>
       
   }
        </form>
    <div>
        <a href="index"><img src="../../../../Image/back.png"/></a>
    </div>
</div>
        
    </div>
    </div>
