@model IEnumerable<giayit.ServiceReferenceChiTietHoaDon.chitiethoadon>
@{
    ViewBag.Title = "chitiet";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}
<div class="columcenter">
     <div class="header-center">CHI TIẾT ĐƠN HÀNG</div>   
    <div class="formn">
     	<div  style="width:781px;height:auto" >

             <fieldset style="width:650px">
            <legend style="flex-item-align:center"><span style="color:black">Thông tin khách hàng</span></legend>
            <span style="color:black">Tên khách hàng : @ViewBag.tenkh <br/>
             Địa chỉ : @ViewBag.diachi  <br/>
             Số điện thoại : @ViewBag.sdt <br/>
             Email : @ViewBag.email<br/>
             Tình trạng : @ViewBag.chuoi </span>
                 </fieldset>
             </div>
    <div class="canhtrai" style="width:782px;height:auto" >
        <table border="1" >
             
            <tr style="background-image:url(../../../../Image/menu_top.png)">
                      <td align="center" width="100"><span style="color: #ffffff"><b>Mã sản phẩm</b></span></td>
                      <td align="center" width="150"><span style="color: #ffffff"><b>Tên sản phẩm</b></span></td>
                      <td align="center" width="80"><span style="color: #ffffff"><b>Số lượng</b></span></td>
                      
                      <td align="center" width="100"><span style="color: #ffffff"><b>Giá tiền</b></span></td>
                      
                     
                      
             </tr>
            @foreach (var user in Model)
            {   
                <tr>
                    <td align="center" width="100">@user.masanpham</td>
                    <td align="center" width="150">@user.tensanpham</td>
                    <td align="center" width="80">@user.soluong</td>
                    
                    <td align="center" width="100">@user.giasanpham</td>
                   
                </tr>
            }

        </table>     
             <a href="index"><img src="../../../../Image/back.png"/></a>    
             <br/>
    </div>
    </div>
    </div>


