@model IEnumerable<giayit.ServiceReferenceHoaDon.hoadon>
@{
    ViewBag.Title = "sửa đơn hàng";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}
<div class="columcenter">
    <div class="header-center">Sửa đơn hàng </div>
    <div style="width:781px;height:auto" >
<div class="formn">
    <fieldset style="width:auto">
            <legend style="flex-item-align:center">Thông tin</legend>
@using (Html.BeginForm("edit", "qldonhang", FormMethod.Post))
            {    
                foreach(var item in Model)
                {
                 <div class="editor-label">
                  <span style="color:black">  Tên khách hàng :</span>@item.tenkhachhang
                 </div>
                 
                 <div class="editor-label">
                   <span style="color:black"> Số điện thoại :</span>@item.sdt
                 </div>
                 
                  <div class="editor-label">
                   <span style="color:black">Email :</span>@item.email
                 </div>
                
                 <div class="editor-label">
                   <span style="color:black"> Địa chỉ :</span>@item.diachi
                 </div>
                 
                 <div class="editor-label">
                    <span style="color:black">Ngày mua hàng :</span> @item.ngaymuahang
                 </div>
                 
                 <div class="editor-label">
                   <span style="color:black"> Tổng tiền :</span>@String.Format("{0:0,0 VNĐ}", Convert.ToInt32(item.tongtien))
                 </div>
                 
                <div class="editor-label">
                  <span style="color:black">  Tình trạng : </span>
                    @if (item.tinhtrang=="chưa liên lạc")
                      {<select name="tinhtrang">
                          <option selected="selected" value="chưa liên lạc">Chưa liên lạc</option>
   	    	              <option value="chưa giao">Chưa giao</option>
    	        	      <option value="đã giao">Đã giao</option>           	
                       </select>
                       }
                    @if (item.tinhtrang=="chưa giao")
                      {<select name="tinhtrang">
                      
   	    	           <option selected="selected"  value="chưa giao">Chưa giao</option>
    	        	   <option value="đã giao">Đã giao</option>           	
                      </select>
                      }
                  @if (item.tinhtrang=="đã giao")
                      {<select name="tinhtrang">
                         
    	                 <option selected="selected"  value="đã giao">Đã giao</option>           	
                        </select>
                      }
                 </div>
                 
                 <input  type="hidden" name="mahd" style="color:black" value="@item.mahoadon"/><br />
                  
                 <span class="btn">
                    <input type="submit"   value="Sửa" style="margin-top: 10px; width: 257px; cursor:pointer" /><br />
                </span>
                }

            }  
        </fieldset><a href="index"><img src="../../../../Image/back.png"/></a>
    </div>
        </div>
    </div>