@model IEnumerable<giayit.ServiceReferenceHoaDon.hoadon>
@{
    ViewBag.Title = "Admin - Quản lý đơn hàng";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

 @helper SapXep(string ten, int id)
{
    <a style="color:#808080" href="@Url.Action("index", "qldonhang", new {trangthai=ViewBag.Trangthai,ngaytu=ViewBag.Ngaytu,thangtu=ViewBag.Thangtu,namtu=ViewBag.Namtu,ngayden=ViewBag.Ngayden,thangden=ViewBag.Thangden,namden=ViewBag.Namden,sortBy=id, isasc = (id == ViewBag.sortBy ? !@ViewBag.isAsc : @ViewBag.isAsc).ToString().ToLower() }) ">
       @ten<img src="../../../../Image/arrow-up-down.png" width="33px" height="12px"/>
    </a>
}

<div class="columcenter">
     <div class="header-center">QUẢN LÝ ĐƠN HÀNG</div>   
     	<div class="canhgiua" style="width:781px;height:auto" >
              
             @if (TempData["message"] != null) { 
                        <p style="color:red; text-align:left;">@TempData["message"]</p>
                        }
             
                        <form name="frmSapXep" method="get" action="/Admin/qldonhang/index">
                            <table>
                                <tr>
                                   <td>Thời gian từ</td>
                                   <td>
                                       <select name="ngaytu">
        		                            <option value="">Ngày</option>                
                                            <script>
                                                for (var i = 1; i <= 31; i++) {
                                                var s = "<option value='" + i + "'>" + i + "</option>";
                                                document.write(s);
                                                }
				                            </script>
		                               </select>
                                       <select name="thangtu">
        		                            <option value="">Tháng</option>                
                                            <script>
                                                for (var i = 1; i <= 12; i++) {
                                                    var s = "<option value='" + i + "'>" + i + "</option>";
                                                    document.write(s);
                                                }
				                            </script>
		                               </select>                                     
                                       <input name="namtu" placeholder="Năm" style="height:24px; width: 60px"  />

                                    </td>
                                    <td>Thời gian đến</td>
                                    <td>
                                       <select name="ngayden">
        		                            <option value="">Ngày</option>                
                                            <script>
                                                for (var i = 1; i <= 31; i++) {
                                                    var s = "<option value='" + i + "'>" + i + "</option>";
                                                    document.write(s);
                                                }
				                            </script>
		                               </select>
                                       <select name="thangden">
        		                            <option value="">Tháng</option>                
                                            <script>
                                                for (var i = 1; i <= 12; i++) {
                                                    var s = "<option value='" + i + "'>" + i + "</option>";
                                                    document.write(s);
                                                }
				                            </script>
		                               </select>                                 
                                       <input name="namden" placeholder="Năm" style="height:24px; width: 60px" />

                                    </td>
                                      <td>Tình trạng</td>
                                    <td>
                                        <select name="trangthai" style="width:95px; height:30px;">                                    
                                            <option value="">Trạng thái</option>
                                            <option value="chưa liên lạc">Chưa liên lạc</option>
                                            <option value="chưa giao">Chưa giao</option>
                                            <option value="đã giao">Đã giao </option>
                                        </select>
                                    </td>                           
                            
                                </tr>
                                
                                <tr>
                                    <td align="center">
                                        <span class="btn">
                                            <input type="submit"   value="Tìm" style="margin-top: 10px; width:80px; cursor:pointer" />
                                        </span>                                        
                                        
                                    </td>
                                    <td>
                                        <a href="/Admin/qldonhang/index">
                                            <img style="height:24px;width:24px; margin-left: -100px; margin-bottom: -10px" src="../../../../Image/refesh.png" />
                                        </a>
                                    </td>      
                                </tr>                         
                            </table>
                     
                        </form>
        
             <table id="t01" align="center" width="790" style="margin-top: 0px; font-size:14px; margin-bottom: 20px">
                    	<tr align="center" bgcolor="#f6f6f6" style="font-weight:bold; font-size: 16px;">
                        	<th>Tên khách hàng</th>                            
                            <th>
                                @SapXep("Tổng tiền", 1) 
                             
                            </th>
                            <th>
                                 @SapXep("Ngày mua", 2)  
                               
                            </th>
                            <th>Ngày giao</th>
                            <th>
                                @SapXep("Tình trạng", 3)  
                              
                            </th>
                            <th>Chức năng</th>                            
                        </tr>
                        @foreach (var user in Model)
                        {
                            <tr align="center" >
                                <td>
                                    @Html.DisplayFor(x=>user.tenkhachhang)
                                </td>
                        	    <td>
                            	    @String.Format("{0:0,0 VNĐ}", Convert.ToInt32(user.tongtien))                                
                                </td>
                                <td>
                                   @{string ngaydathang = user.ngaymuahang.ToString();
                                    ngaydathang = ngaydathang.Substring(0, ngaydathang.LastIndexOf(":") - 6);
                                    }    
                                      @ngaydathang                            
                                </td>
                                <td>
                                     @{string ngaygiaohang = user.ngaygiaohang.ToString();
                                       ngaygiaohang = ngaygiaohang.Substring(0, ngaygiaohang.LastIndexOf(":") - 6);
                                    }    
                                      @ngaygiaohang                              	   
                                </td>
                                <td>@Html.DisplayFor(x=>user.tinhtrang)</td>
                                <td>
                            	    <a href="../qldonhang/chitiet?mahd=@user.mahoadon"><img src="../../../../Image/Zoom.png" width="15px" height="15px"/></a>
                                    @if (user.tinhtrang == "đã giao")
                                    {
                                        <img src="../../../../Image/icon_enable.jpg" width="15px" height="15px" /> 
                                    }
                                    else
                                    {
                                             <a href="../qldonhang/edit?mahd=@user.mahoadon"><img src="../../../../Image/compose-128.png" width="15px" height="15px" /></a>
                                    }
                                </td>
                                
                                
                            </tr>
                        }
                                                                                               
                        
        </table>    
         <div>@{Html.RenderAction("Index", "pageAd", new { currentpage = "../Admin/qldonhang/index?trangthai=" + @ViewBag.Trangthai + "&ngaytu=" + @ViewBag.Ngaytu + "&thangtu=" + @ViewBag.Thangtu + "&namtu=" + @ViewBag.Namtu + "&ngayden=" + @ViewBag.Ngayden + "&thangden=" + @ViewBag.Thangden + "&namden=" + @ViewBag.Namden + "", totalpages = ViewBag.TotalPages});} </div>           
                
             <br/>
    </div>
    </div>
