<center>
<div class="pagination">
@{
    int dau = 1, cuoi = @ViewBag.TotalPages, page = 1, sau = @ViewBag.page + 1, truoc = @ViewBag.page - 1;
    
    string Page;

    if (Request.RequestContext.RouteData.Values["controller"].ToString() != "Home")
    {
        Page = "&page";
    }
    else
    {
        Page = "?page";
    }
    
    if(ViewBag.TotalPages > 1)
        {
            if(ViewBag.page > 1)
            {
                <a href="/@ViewBag.currentpage@Page=@dau">Đầu</a>
 		        <a href="/@ViewBag.currentpage@Page=@truoc">Trước</a>
            }
       
            if(dau == ViewBag.Page)
            { 
                <span class="current">@dau</span>
                
            }
            else
            {
                <a href="/@ViewBag.currentpage@Page=@dau">@dau</a>
            }
        
        
            //danh so trang giua
            if(ViewBag.TotalPages <= 5)
            {
                for (page = 2; page < ViewBag.TotalPages; page++)
                 {
                     if (page == ViewBag.Page)
                     { 
                         <span class="current">@dau</span>
                     }
                     else
                     {
                        <a href="/@ViewBag.currentpage@Page=@page">@page</a>
                     }
                 }
            }
            else
            {
                if(ViewBag.page <= 4)
                {
                    for (page = 2; page <= 4; page++)
                     {
                         if (page == ViewBag.Page)
                         { 
                             <span class="current">@page</span> 
                         }
                         else
                         {
                            <a href="/@ViewBag.currentpage@Page=@page">@page</a>
                         }
                     }
                     <a>...</a>
                }
                else
                {
                    if(ViewBag.page >= cuoi-3)
                    {
                        <a>...</a>
                        for (page = cuoi-3; page < cuoi; page++)
                         {
                             if (page == ViewBag.Page)
                             { 
                                 <span class="current">@page</span> 
                             }
                             else
                             {
                                <a href="/@ViewBag.currentpage@Page=@page">@page</a>
                             }
                         }
                    }
                    else
                    {

                        int pageCur = ViewBag.page;
                    
                        <a>...</a>
                        for (page = pageCur - 1 ; page < pageCur + 3; page ++ )
                        {
                            if (page == ViewBag.Page)
                            { 
                                 <span class="current">@page</span>  
                            }
                            else
                            {
                                <a href="/@ViewBag.currentpage@Page=@page">@page</a>
                            }
                        }
                         <a>...</a>
                    }
                }
            }
        
            if(cuoi == ViewBag.Page)
            { 
          
                <span class="current">@cuoi</span> 
            
            }
            else
            {
                <a href="/@ViewBag.currentpage@Page=@cuoi">@cuoi</a>
            }
        

            if (ViewBag.page < cuoi)
            {
                <a href="/@ViewBag.currentpage@Page=@sau">Sau</a>
                <a href="/@ViewBag.currentpage@Page=@cuoi">Cuối cùng</a>
            }
       }
       }
</div>
</center>
